body {
    margin: 10px;
    padding: 3px;
    background: #0C0C18 ;
    font-family: monospace;
    font-size:normal;
    color:#cccccc;

}

/* Display error mesasges in bright red */
#error-display {
    color: #ff0000;
}

div[data-formula] {
    display: table;
}

a {
    color: #3333ee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.example-label {
    vertical-align: center;
}

div[data-formula] canvas {
    float: left;
    margin-right: 10px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

    ocean-display {
    transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -webkit-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      transform: scale(5, 5);
      -ms-transform: scale(5, 5); 
      -webkit-transform: scale(5, 5); 
      -o-transform: scale(5, 5); 
      -moz-transform: scale(5, 5); 
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
     image-rendering:-webkit-pixelated;
    image-rendering: optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
    }